.promo {
    min-height: 100vh;
    position: relative;
    background: url('https://t4.ftcdn.net/jpg/02/25/16/75/360_F_225167589_FHxfWWr96xXOrOBowtydCaklzluZmzcs.webp') no-repeat 50%/cover;
    // background-position-y: -100px;
    padding-top: 205px;
    &__title {
        width: 535px;
        margin-top: 10px;
        color: #fff
    }
    &__subtitle {
        position: relative;
        @include before_circle;
        z-index: 2;
        color: #fff
    }
    &__btns {
        margin-top: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 250px;
    }
    &__link {
        color: #fff;
        font-weight: 700;
        &:hover {
            color: #fff;
            text-decoration: none;
        }
    }
}